<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Iconos-->
        <script src="https://kit.fontawesome.com/466c005b9f.js" crossorigin="anonymous"></script>     
        <!--FuenteRoboto-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!--CSS-->
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/register-styles.css" rel="stylesheet">
    
        <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="logo-bar">
            <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"> 
            <div class="bar-i">
                <div class="bar" action="#" method="GET"> Buscar productos, marcas y más</div>
                <i class="fa fa-search"></i>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>     
        <nav>
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <secion class ="banner">
        <img src="/images/img-home-banner.jpg" width=100% alt="Banner de Mercado Liebre">
    </secion>
    <main class="register">
        <form class="register-form"  action="register.html" method="POST">
            <div>
                <h1>Crear cuenta</h1>
                <div class="register-campos">
                    <p><label for="nameAndLastName">Nombre y apellido</label></p>
                    <input type="text" name="nameAndLastName" placeholder="Nombre y apellido" pattern="[A-Za-z\s]+" title="Solo se permiten letras y espacios" required> 
                    <p><label for="username">Nombre de usuario</label></p>
                    <input type="text" name="username" placeholder="Nombre de usuario"  pattern="[A-Za-z\s]+" title="Solo se permiten letras y espacios" required>
                    <p><label for="email">Email</label></p>
                    <input type="email" name="email" placeholder="E-mail@email.com" required>
                </div>
                <p><label for="birthdate">Fecha de nacimiento</label></p>
                <input type="date" name="birthdate" value="aaaa-mm-dd" required>
                <h2><label for="profile">Perfil del usuario</label></h2>
                <span>
                    <input type="radio" name="profile" value="vendedor" required>
                    <label for="vendedor">Vendedor</label>
                    <input type="radio" name="profile" value="comprador" required>
                    <label for="comprador">Comprador</label>                    
                </span>
                <h2><label for="interes">Categorías de interés (puede elegir más de una)</label></h2>
                <div class="register">
                    <div>
                        <input type="checkbox" name="interes" value="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interes" value="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interes" value="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interes" value="juguetería">
                        <label for="juguetería">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interes" value="healthy-lifestyle">
                        <label for="healthy-lifestyle">Vida Sana</label>
                    </div> 
                </div>                    
                    <h2><label for="userphoto">Foto del Usuario</label></h2>
                    <input type="file" name="userphoto" accept=".jpg">
                    <div class="register-campos">
                        <h2><label for="password">Contraseña</label></h2>
                        <input type="password" name="password" placeholder="*********" required>
                        <h2><label for="password">Confirmar contraseña:</label></h2>
                        <input type="password" name="password" placeholder="*********" required>
                    </div>
                    <p class="register-button">
                    <a href="/"><button type="submit">Enviar</button></a>
                    <button type="reset">Borrar</button>
                </p> 
            </div>  
        </form>
    </main>
    <footer>
        <div class="footer">
            <div class="sections">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h3 class="titlefooter"> Pagá con tarjeta o en efectivo</h3>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h3 class="titlefooter"> Envío gratis desde $ 2.500</h3>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3 class="titlefooter"> Seguridad de principio a fin </h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
            </section>
            </div>
            <div>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>   
    </footer>
</body>
</html>